# Server
PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fintrack
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_key
NODE_ENV=development

# Client
VITE_API_URL=http://localhost:5000
